.flex{
    display: flex;
}
.flex-ac{
    align-items: center;
}
.jsb-flex-ac {
    @extend .flex;
    @extend .flex-ac;
    justify-content: space-between;    
}
@media screen and (max-width: 767px) {
    .jsb-flex-ac {
        flex-direction: column;
    }
}
